<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="/about/">
                <img id="avatar" src="/assets/images/avatar.webp" alt="{{ site.authorFullName }}"/>
            </a>
        {% else %}
            <img id="avatar" src="/assets/images/avatar.webp" alt="{{ site.authorFullName }}"/>
        {% endif %}
            <h1>{{ site.authorFullName }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>

