<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="strict-origin-when-cross-origin">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.blogName }}</title>
  {% seo title=false %}
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.blogName }}" href="/feed.xml">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css">
</head>
<body>

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
  {% include navigation.html %}
    {{ content }}
  </section>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/nginx.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/vim.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/toml.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/microlinkjs@latest/umd/microlink.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      hljs.registerAliases(['zsh'], { languageName: 'bash' });
      hljs.highlightAll();
      if (typeof microlink !== 'undefined') {
        microlink('.card-preview');
      }
    });
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47087716-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-47087716-1');
  </script>
</body>
</html>
