<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="strict-origin-when-cross-origin">

  <title>{{ page.title }}</title>
  {% include og-image.html %}
  {% seo title=false %}
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.blogName }}" href="/feed.xml">

</head>
<body>

  <section id="wrapper-top" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47087716-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-47087716-1');
  </script>
</body>
</html>
