---
layout: default
archive: true
---

<!-- Article -->
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">

      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}

      {% if page.use_toc %}
      <div class="toc-title">TOC</div>
      <div
           class="toc-list"
           data-toc
           >
      </div>
      <script src="/assets/js/auto-toc.js"></script>
      {% endif %}

      {{content}}
    </section>
</article>

<!-- Post meta -->
{% include post-meta.html %}

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="post-comment archive readmore">
        <hr>
        <h2>Comments</h2>
        {% include disqus.html %}
	<hr>
    </div>
{% endif %}

<!-- Next and prev links -->
{% include next-prev-post-link.html %}

<!-- Recent post lists -->
{% include recent-post-list.html %}

<!-- Credit -->
<p class="small">(c) Copyright {{ site.time | date: '%Y' }} {{ site.authorRealName }}</p>


