---
layout: default
archive: true
---

<!-- Breadcrumb -->
{% include breadcrumb.html %}

<!-- Header -->
<header class="post-header">
    <h1>{{ page.title }}</h1>
    <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
</header>

<!-- Article -->
<article class="post">

    <section id="post-body">

        {% if page.description %}
        <p>{{ page.description }}</p>
        {% endif %}

        {{content}}

    </section>

    {% if page.use_toc %}
    <div class="js-toc">
    </div>
    {% endif %}

</article>

<hr>

<!-- Next and prev links -->
{% include next-prev-post-link.html %}
<hr>

<!-- Recent post lists -->
{% include recent-post-list.html %}
<hr>

<!-- Tags -->
{% if page.tags.size > 0 %}
<div class="post-tags">
  {% for tag in page.tags %}
    <a href="/tags/#{{ tag }}" class="tag">{{ tag }}</a>
  {% endfor %}
</div>
{% endif %}
<hr>

<!-- Post meta -->
{% include post-meta.html %}
<hr>

<!-- Credit -->
<p class="small">(c) Copyright {{ site.time | date: '%Y' }} {{ site.authorRealName }}</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
